

<div class="container">


  <br>
  <br>
  <br>

  <div class="row">


    <div class="col-md-10 offset-1">

      <div class="card">

        <div class="card-header">
          <%= @user.email %> followers:

        </div>


        <div class="card-content">
        <ul>




          <% @user.followers.each do |f| %>

          <li>


            <p class="lead">
              <%= link_to f.email, profile_path(f.id) %>


            </p>

            </li>


          <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
