



<div class="container">
  <div class="row">



    <% @users.each do |u| %>
    <div class="col-md-4">



      <div class="card">

        <div class="card-header">
          <%= link_to u.email, profile_path(u.id) %>



        </div>


        <div class="card-content text-center">

          <%= image_tag "banner.jpg", width: "100%" %>


          <p class="lead">
            <br>
              Followers: <%= u.followers_count %>

          </p>


          <%= link_to "View Profile", profile_path(u.id), class: 'btn btn-primary' %>
        </div>

        <br><br>








    </div>

    </div>
    <% end %>
  </div>
</div>
